<!DOCTYPE html>
<html lang="en">
<html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<head>
  <title>Quiz Sign Up </title>

  <link rel="stylesheet" href="style.css">
</head>
<style>
  
</style>

<body>

  <form class="register" method="POST" action="register">

    <div class="signupbox">
      <div class="signuptop">
        <H1 class="Signuptitle"> Quiz Registration Page </H1>
      </div>

      <div class="signupbody"></div>
      <div class="signuplogo">
      </div>

      <div class="signupbody">
        <%= result %> <br>

        <input type="text" name="firstName" placeholder="Enter First Name ">
        <input type="text" name="lastName" placeholder="Enter Last Name ">
        <input type="text" name="password" placeholder="Enter Password">
        <input type="text" name="phone" placeholder="Enter Phone No ">
        <input type="text" name="email" placeholder="Enter Email ">
      </div>

    </div>
    <div class="signupbottom">
      <input type="submit" class="signupbutton"></button>
    </div>
    </div>

</body>

</html>