body {

    margin: 0;
    padding: 0;
    background: lightblue;
  }

  .signupbox {
    width: 401px;
    height: 509px;
    background: #fff;
    position: absolute;
    display: contents;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .signuptop {
    align-content: center;
    padding: 10px;
    margin: auto 0;
    background: bottom;
    height: 14px;
  }

  .signuptitle {
    line-height: 0px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #fff;
  }

  .signuplogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .signupbottom {
    margin-top: 70px;
    text-align: center;
  }

  .signupbutton {
    width: 11%;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 25px;
    margin: 0px 210px 0px 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .signupbutton:hover {
    width: 11%;
    transition: background-color 0.5s ease;
    background-color: #A33D8B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .signupbody {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  input[type=text],
  select {
    width: 33%;
    padding: 9px 26px;
    margin: 19px 15px 3px 201px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;

  }

  h1 {
    color: rgb(0, 192, 0);
  }